ion-content {
  // --background: #fbe8ce;
  // --background: #e8e4c9;
  --background: #e8f4f7;
  padding-top: 0px !important;
  overflow: hidden;
}

ion-toolbar {
  padding-bottom: 1px;
 
  overflow: hidden;
}

.cardsegment1 {
  height: 200px;
  padding-bottom: 0%;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border: 15px solid white;
  // border-radius: 7px;
  box-shadow: 100 100;
  // box-shadow: 0 0 10px 2px grey;
}

.cardsegment2 {
  height: 300px;
  border: 15px solid white;
  border-radius: 10px;
  box-shadow: 100 100;
}

.angatmotongtab {
  padding-bottom: 20px;
}




//// tabs
ion-tabs {
  --background: #fbe8ce;
}


.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.has-card-footer {
  padding-bottom: 15px;
}

.card-advance {
  height: 320px;
}

.footer-tool {
  // padding-top: 50px;
  border-bottom-left-radius: 20px;
}

